@page "/aflaesning_af_forbrugsdata"
@using FjernvarmeMaalingApp.Models
@using FjernvarmeMaalingApp.ViewModels
@using System.ComponentModel
@inject AflæsDataViewModel AflæsDataViewModel
@inject ILogger<AflæsData> Logger

<div>
    <label for="consumptionType">Forbrugstype:</label>
    <select id="consumptionType" @bind="AflæsDataViewModel.SelectedMeasurementDisplayStrategyName">
        <option value="" disabled selected>Vælg en type af visning</option>
        @foreach (var displayType in AflæsDataViewModel.GetMeasurementsDisplayStrategyNames())
        {
            <option value="@displayType">@displayType</option>
        }
    </select>
</div>
@if (measurementStrategyComponent != null)
{
    @measurementStrategyComponent
}
@code {
    private RenderFragment measurementStrategyComponent;

    protected override async Task OnInitializedAsync()
    {
        await AflæsDataViewModel.InitializeAsync();
        measurementStrategyComponent = builder => { };
        base.OnInitialized();
        AflæsDataViewModel.PropertyChanged += ViewModel_PropertyChanged;
    }

    private void ViewModel_PropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == nameof(AflæsDataViewModel.SelectedMeasurementDisplayStrategyName))
        {
            UpdateMeasurementStrategyComponent();
        }
    }

    private void UpdateMeasurementStrategyComponent()
    {
        var eventCallback = EventCallback.Factory.Create<IEnumerable<Measurement>>(this, OnEventTriggered);

        measurementStrategyComponent = builder =>
        {
            builder.OpenElement(0, "div");
            builder.AddAttribute(1, "class", "measurement-display-container");

            var renderFragment = AflæsDataViewModel.ExecuteDisplayStrategy(eventCallback);
            if (renderFragment != null)
            {
                builder.AddContent(2, renderFragment);
            }
            builder.CloseElement();
        };
        StateHasChanged();
        Logger.LogInformation("SelectedMeasurementDisplayStrategyName changed. {SelectedMeasurementDisplayStrategyName}", AflæsDataViewModel.SelectedMeasurementDisplayStrategyName);
    }

    private void OnEventTriggered(IEnumerable<Measurement> measurements)
    {
        Logger.LogInformation("Event triggered from DisplayStrategyComponent.");
        UpdateMeasurementStrategyComponent();
    }

    public void Dispose()
    {
        Logger.LogInformation("Disposing AflæsData component.");
        AflæsDataViewModel.PropertyChanged -= ViewModel_PropertyChanged;
    }
}
